<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать!</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <nav>
        <ul>
            <li><a href="/create-note.html">Создать заметку</a></li>
            <li><a href="/get-notes.html">Получить заметки (пагинация)</a></li>
            <li><a href="/search-notes.html">Поиск заметок по тегам</a></li>
            <li><a href="/get-note.html">Получить заметку по ID</a></li>
            <li><a href="/delete-note.html">Удалить заметку по ID</a></li>
            <li><a href="/update-note.html">Обновить заметку по ID</a></li>
        </ul>
    </nav>
</body>
</html>
